#  Core Application 
fastapi==0.111.0
uvicorn[standard]==0.29.0

#  Data Validation & Settings 
# pydantic is a core dependency of FastAPI
pydantic==2.7.1
# python-dotenv is used by pydantic-settings to load .env files
python-dotenv==1.0.1
pydantic-settings==2.2.1